.logo-img {
    width: 2px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff ;

}
nav .logo-1{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-weight: bold;
    
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul a{
    line-height: 80px;
    padding: 12px 30px;
    text-decoration: none;

}

nav ul a:hover{
    border: 2px solid gray;
    border-radius: 5px;
}